.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "sidebar header header header"
                            "sidebar main main aside"
                            "sidebar main main aside"
                            "sidebar main main aside";
}
.header{
    grid-area: header;
    background-color: red;
}

.sidebar{
    grid-area: sidebar;
    background-color: blue;
}

.main-content{
    gap: 20px;
    grid-area: main;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
}

.card{
    background-color: aqua;
}

.aside{
    grid-area: aside;
    display: grid;
    gap: 20px;
}

.annoucements{
    background-color: goldenrod;
}

.trends{
    background-color: antiquewhite;
}
