*{
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}
.header{
    grid-column: 2/5;
    background-color: red;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: white;
    font-weight: 700;
}
.headertop{
    display: flex;
    justify-content: space-evenly;
}

.left{
display: flex;
align-items: center;
flex: 1;
max-width: 35%;
}

.searchbaricon{
    width: 2em;
    margin-right: 1em;
}

.right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2em;
}

.notificationicon{
    max-width: 2em;
}

.usernametop{
    font-size: 1.2rem;
}

.headerbottom{
    display: flex;
    justify-content: space-around;
}

.header-bottom-avatar{
    max-width: 6em;
}

.userbottom{
    margin-left: 1em;
}

.leftbottom{
    display: flex;
    margin-right: 30em;
}

.rightbottom{
    display: flex;
    gap: 2em;
    align-items: center;
}

button{
    padding: 1em 3em;
    border-radius: 2em;
    border: none;
    cursor: pointer;
    background-color: #0ea5e9;
    color: white;
    font-weight: 700;
}

input{
    border-radius: 50px;
    background-color: #e4e4e7;
    border: none;
    height: 30%;
    flex: 1;
}

.sidebar{
    grid-row: 1/5;
    background-color: #0ea5e9;
    display: grid;
    grid-template-rows: repeat(2, 0.4fr);
    color: white;
    font-size: 1.2rem;
    gap: 3em;
    min-width: 10em;
}

.main-content{
    padding: 2em;
    gap: 10px;
    grid-row: 2/5;
    grid-column: 2/5;
    background-color: #e4e4e7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.card{
    background-color: aqua;
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    grid-template-rows: 1fr 0.3fr;
    background-color: white;
    border-radius: 10px;
}

.card-color-box{
    background-color: #EEB23B;
    max-width: 20%;
    grid-row: 1 / 4;
    border-radius: 10px 0 0 10px;
}

.img-wrapper{
    display: flex;
    justify-content: flex-end;
    grid-column: 2;
    gap: 1em;
    padding: 1em;
}

.text-wrapper{
    display: grid;
}

.asidegrid{
    display: grid;
    grid-template-rows: 1.5fr 1.5fr;
    grid-row: 1 / span 3;
    grid-column: 3;
    gap: 10px;
}

.annoucements{
    background-color: goldenrod;
   
}

.trends{
    background-color: antiquewhite;
  
}

.dashboard{
    display: flex;
    gap: 10px;
}

img{
    max-width: 9%;
}

